.collapse {
    margin-left: 1%;
}

.nav-item1 {
    color: blue;
    font-weight: bold;
    padding-right: 900px;
    font-size: 200%;
}

.nav-item {
    color: rgb(85, 56, 7);
    font-weight: bold;
    padding-right: 900px;
    font-size: 140%;
    background-color: aliceblue;
}

.site-header {
    background-color: rgb(252, 216, 149);
    top: 50%;
    width: 100%;
    text-align: center;
}

header {
    background: url("images/Capture.JPG");
    background-size: cover;
    height: 80vh;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 40px;
    margin-bottom: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container1 {
    background-color: bisque;
}

.text-center h1 {
    font-family: bold;
    animation: titre ease 3.5s;
    color: rgb(78, 54, 13);
    height: 90px;
    line-height: 120px;
    margin-bottom: 3%;
}

@keyframes titre {
    0% {
        opacity: 0;
        transform: translatey(350px);
        font-family: bold;
    }
    100% {
        opacity: 1;
        transform: translatex(350px);
        font-family: bold;
    }
}

.text-center p {
    font-family: bold;
    animation: titre ease 3.5s;
    color: rgb(126, 80, 2);
    font-size: 200%;
    margin-bottom: 200px;
    line-height: 40px;
}

h2 {
    text-align: center;
    font-family: bold;
    margin-left: 10%;
    color: #fff;
    height: 40px;
    background-color: rgb(252, 216, 149);
}

#leftPart {
    background-color: bisque;
    background-size: cover;
    padding: 0px;
    border-radius: 0px;
}

.elements {
    padding: 60px;
}

.elements img {
    margin-right: 0px;
    width: 230px;
}

h3 {
    color: blanchedalmond;
    font-family: bold;
    background-color: rgb(85, 56, 7);
}

.elements p {
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    padding-right: 20px;
    color: rgb(85, 56, 7);
}

.elements .button {
    text-align: center;
    margin: 20px 4% 0 0;
    font-family: bold;
    background-color: rgb(252, 216, 149);
}

.btn-success {
    color: rgb(85, 56, 7);
    background-color: rgb(85, 56, 7);
}

#rightPart {
    border-radius: 0px;
    padding: 0px;
    background-size: cover;
}

.tips {
    height: 200px;
    width: 230px;
    margin: 40px auto;
}

.tips h4 {
    position: relative;
    color: blanchedalmond;
    top: 57%;
    background-color: rgb(85, 56, 7);
    transform: translate(50%);
    font-family: bold;
    text-align: center;
}

.tips:hover {
    transform: scale(1.08);
    opacity: 0.7;
    transition: ease-out 0.2s;
}

#transition {
    padding: 50px 0;
    text-align: center;
}

#transition img {
    animation: imageslogoi ease 12s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-fill-mode: backwards;
}

@keyframes imageslogoi {
    0% {
        transform: translate(0px, 0px);
    }
    9% {
        transform: translate(79px, -22px);
    }
    26% {
        transform: translate(-4px, -5px);
    }
    33% {
        transform: translate(80px, 18px);
    }
    48% {
        transform: translate(-17px, -13px);
    }
    56% {
        transform: translate(57px, -45px);
    }
    71% {
        transform: translate(-11px, -12px);
    }
    82% {
        transform: translate(72px, 7px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

#newsletter {
    text-align: center;
    font-family: bold;
    background-color: rgb(252, 216, 149);
    color: #fff;
}

.formulaireContact {
    width: 500px;
    display: block;
    margin: auto;
}

input[type="text"] {
    height: 50px;
    width: 500px;
    border: none;
    margin-bottom: 20px;
}

input[type=email] {
    height: 50px;
    width: 500px;
    border: none;
    margin-bottom: 20px;
}

textarea {
    width: 500px;
    height: 100px;
    resize: vertical;
    margin-bottom: 10px;
}

#contact-submit {
    background-color: rgb(85, 56, 7);
    font-family: bold;
}

.container1 {
    text-align: center;
}